SERVER_HOST=
SERVER_PORT=
READ_TIMEOUT=5s
WRITE_TIMEOUT=10s
IDLE_TIMEOUT=120s
SHUTDOWN_TIMEOUT=5s
BEHIND_REVERSE_PROXY=false          #if gateway after nginx =true. Need X-Real-IP header setup with real ip

REDIS_HOST=
REDIS_PORT=
REDIS_PWD=
REDIS_TIMEOUT=30s

APP_HOST=localhost
APP_PORT=8000
APP_CONNECT_TIMEOUT=10s
APP_RESPONSE_TIMEOUT=120s
APP_IDLE_TIMEOUT=120s
APP_MAX_IDLE_CONNS=
APP_LOGGED_ROUTES=                  #example=/auth,/home,/user/{code}
APP_PROTECTED_ROUTES=/user,/links   #example=/auth,/home,/user/{code}
APP_CHECK_ROUTE=/user/info          #example=/profile/settings

RATE_LIMIT_RPW=10
RATE_LIMIT_WINDOW=1s